<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="securityViewSetup" type="DataLevelSecurityFor3e.ConfigurationDataSection, DataLevelSecurityFor3e" />
  </configSections>

  <appSettings>
    <add key="RootPath" value="C:\Development\3E" />
    <add key="FrameworkStaging" value="Inetpub\Staging" />
  </appSettings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <securityViewSetup>
    <commonReferenceAssemblies>
      <add name="NxACL" />
      <add name="MattCategory" />
      <add name="Matter" />
    </commonReferenceAssemblies>

    <roles>
      <role name="te_admin">
        <archetypes>
          <archetype name="Matter" clearSecurity="true" />
          
          <archetype name="Timecard" clearSecurity="true" />

          <archetype name="Voucher" codeFile="AllDataRoles\Voucher.vb">
            <additionalReferenceAssemblies>
              <add name="NxFWKUser" />
              <add name="NxUnitFilterItem" />
              <add name="Office" />
            </additionalReferenceAssemblies>
          </archetype>
        </archetypes>
      </role>
    
      <role name="te_public">
        <archetypes>
          <archetype name="Matter" codeFile="Public\Matter.vb" />
          
          <archetype name="Timecard" codeFile="Public\Timecard.vb" />

          <archetype name="Voucher" codeFile="AllDataRoles\Voucher.vb">
            <additionalReferenceAssemblies>
              <add name="NxFWKUser" />
              <add name="NxUnitFilterItem" />
              <add name="Office" />
            </additionalReferenceAssemblies>
          </archetype>
        </archetypes>
      </role>
    </roles>
  </securityViewSetup>
</configuration>
